.chart-card-wrap{
    margin-bottom: 2.4rem;
}

.chart-card{
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

.chart-card-top{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: .1rem solid #aaaaaa;
    margin-bottom: 1rem;
}

.chart-card-top-left{
    margin-left: .4rem;
}

.chart-card-top-right{
    display: flex;
    align-items: center;
}