html,body{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background: #f2f2f2;
}

.hide{
    display: none !important;
}

.root{
    padding:2.5rem 3rem;
}

.time-wrap{
    display: flex;
    width: 22rem;
    flex-direction: row;
    align-items: center;
}